<button class="btn" (click)="showOrHidePanel('panel')">Show panel</button>

<div class="body" id="panel">
  <div class="round-external">
    <span class="icon">
      <img src="../assets/iconfinder_icon-shuffle_211887.png" class="img-shadow" alt="/">
    </span>

    <span class="icon">
      <img src="../assets/iconfinder_icon-ios7-skipforward_211822.png" class="img-shadow" alt="/">
    </span>

    <span class="icon" (click)="playOrPause()">
      <img src="../assets/iconfinder_icon-play_211876.png" class="img-shadow" *ngIf="displayCondition" alt="/" id="play">
      <img src="../assets/iconfinder_icon-ios7-pause_211791.png" class="img-shadow" *ngIf="!displayCondition" alt="/" id="pause">
    </span>

    <span class="icon">
      <img src="../assets/iconfinder_icon-ios7-skipbackward_211820.png" class="img-shadow" alt="/">
    </span>

    <span class="icon">
      <img src="../assets/iconfinder_icon-loop_211856.png" class="img-shadow" alt="/">
    </span>
    <div class="round-internal"></div>
  </div>
</div>
