<button class="btn" (click)="showOrHidePanel('panel')">Show panel</button>

<div class="body">
  <div class="menu" id="panel">
    <div class="round-external">
    <span class="icon">
      <img src="../assets/iconfinder_icon-shuffle_211887.png" class="img-shadow" alt="/">
    </span>

      <span class="icon">
      <img src="../assets/iconfinder_icon-ios7-skipforward_211822.png" class="img-shadow" alt="/">
    </span>

    <span class="icon">
      <img id="panelPlay" (click)="panelPlay()" src="../assets/iconfinder_icon-play_211876.png" class="img-shadow" alt="" />
      <img id="panelPause" (click)="panelPause()" src="../assets/iconfinder_icon-ios7-pause_211791.png" class="img-shadow" alt="" style="display: none" />
    </span>

    <span class="icon">
      <img src="../assets/iconfinder_icon-ios7-skipbackward_211820.png" class="img-shadow" alt="/">
    </span>

      <span class="icon">
      <img src="../assets/iconfinder_icon-loop_211856.png" class="img-shadow" alt="/">
    </span>
      <div class="round-internal"></div>
    </div>
  </div>

  <div class="music-panel">
    <div class="panels">
      <div class="panels-left">
        <h2 style="color: aliceblue">Track info here</h2>
      </div>
      <div class="panels-right">
        <div class="audio" *ngFor="let track of musicData.defaultSongs; let i = index">
          <span class="player-button">
            <img [id]="'play' + i" class="player-icon" src="../assets/iconfinder_icon-play_211876.png" alt="" (click)="play(i)"/>
          </span>
          <span class="player-button">
            <img [id]="'pause' + i" class="player-icon" src="../assets/iconfinder_icon-ios7-pause_211791.png" alt="" style="display: none" (click)="pause(i)" />
          </span>

          <div class="audio-artist-title">
            <h3 style="color: aliceblue">{{ track.artist.artist }}</h3>
            <h3 style="color: aliceblue">{{ track.title }}</h3>
          </div>

          <audio [id]="'player' + i" src="{{ track.url }}">
            <a name="defaultSongs"></a>
          </audio>
          <!--<button onclick="document.getElementById('player').volume+=0.1">+</button>-->
          <!--<button onclick="document.getElementById('player').volume-=0.1">-</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
