@mixin transition($time) {
  -webkit-transition-duration: $time;
  -moz-transition-duration: $time;
  -o-transition-duration: $time;
  transition-duration: $time;

  -webkit-transition-property: top, filter, transform;
  -moz-transition-property: top, filter, transform;
  -o-transition-property: top, filter, transform;
  transition-property: top, filter, transform;
}
