@mixin transition($time) {
  -webkit-transition-duration: $time;
  -moz-transition-duration: $time;
  -o-transition-duration: $time;
  transition-duration: $time;

  -webkit-transition-property: top, filter, transform, background;
  -moz-transition-property: top, filter, transform, background;
  -o-transition-property: top, filter, transform, background;
  transition-property: top, filter, transform, background;
}
